/*Inhoud*/
.grid-container1{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 25% 30% 20% 25%;
    grid-template-areas:
    'Intro pictureMe pictureMe'
    'Who pictureMe pictureMe'
    'What What What';

    height: 100vh;
    width: 99%;

    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;

}


.intro{
    grid-area: Intro;
}
.introduction{
    color: white;
    margin-left: 0.5em;
    text-align: left;
}
h6.introduction{
    margin-top: 0.5em;
}
h1.introduction{
    font-size: 3.5em;
}

.card {
    background-color: #f6d2f3;
}
.card-body{
    padding:3em;
}
.card-title{
    font-size: 2em;
}

.whoIAm {
    grid-area: Who;
    margin-right: 0.5em;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0);
    color: white;
}


.pictureMe{
    grid-area: pictureMe;
    padding:0.2em;
    background-color: rgba(0, 0, 0, 0);

    background-image: url('./images/mepic4.png');
    background-repeat: no-repeat;

    background-position: center;
    background-size: 95% 80%;
}

.whatIsThis{
    grid-area: What;
    padding-left: 1.5em;
    margin:10px 0.5em 0 0;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0);
    color: white;
}


