.projectpage{
    height: 100vh;
}
.gromGrid{
    height: 100vh;
    padding: 1em;
}

.card {
    background-color: rgba(0,0,0,0);
    color: white;
}

.hoveredCard{
    background: linear-gradient(to top left, #506d96  0%, #8a4571 100%);
    color: white;
    border: 1px solid #000000;

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    height: fit-content;
    width: 50em;
    margin: auto;
}